@font-face {

  font-family: 'FontAwesome';
  src: url('https://pushdev-code.github.io/shoping-cart/public/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2');
}

@font-face {
  font-family: "Helveticaneuemedium";
  src: url("https://pushdev-code.github.io/shoping-cart/public/fonts/helveticaneue_medium-webfont.woff2") format('woff2');

}

