$header-background: #fff;
$principal-color: #0dc6f2;
$nav-link-color:#131212;

/*@font-face {
  font-family: "Mystery Quest";
  src: url("../fonts/FontAwesome.otf");
}*/

a{
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    display: block;
    line-height: 0.9;
    color: $nav-link-color;
    text-decoration: none;
}

.mobile{
  display: none;
}

a:hover {
    color: $principal-color;
    transition: all 500ms ease 0s;
}

.desktop {
  //font-family: Mystery Quest;
  background-color: $header-background;
  padding: 60px 75px;
  max-width: 170px;
  
}

li {
  color: $nav-link-color;
  padding: 20px 0;
  list-style: none;

}

.desktop img {
    height: auto;
    max-width: 100%;
    margin-bottom: 100px;
}

ul {
    padding-inline-start: 0;
}

@media screen and (max-width: 767px){
  .desktop {
    display: none;
    position: relative;
  }

  .mobile {
    width: auto;
    height: 70px;
    display: flex;
    padding: 0.5em 2em;
    justify-content: space-between;
    align-items: center;
  }

  .mobile img {
    height: 100%;
    width: auto;
  }

  .mobile span {
    width: 28px;
    height: 3px;
    background-color: $principal-color;
    display: flex;
    margin-bottom: 5px;
    border-radius: 2px;
  }
    
}