$footer-background: #252525;
$moramia-blue: #0dc6f2;
$cp-color: rgba(255, 255, 255, 0.4);
$moramia-white: #fff;
$font-stack: "fontHelvetica", sans-serif;
$breakpoint-tablet: 768px;
$breakpoint-movil: 320px;
$breakpoint-desktop: 1024px;
$max-width-footer: 1700px;