$breakpoint-desktop: 1024px;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$content-bgcolor:rgba(0, 0, 0, .4);
$homepage-fontf: 'Helveticaneuemedium';
$line-bgcolor:#0dc6f2;
$price-fsize: 16px;
$price-lheight: 1;
$product-bgcolor:rgba(60, 60, 60, .7);
$product-fcolor:#f1ecec;
$title-fsize: 24px;
$title-lheight: 1.3;
$header-background: #fff;
$desktop-hidden-bar: -75px;
$tablet-hidden-bar: -50px;
$nav-link-color: #131212;