$breakpoint-desktop: 1024px;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$content-bgcolor:rgba(0, 0, 0, 0.4);
$line-bgcolor:#0dc6f2;
$price-fsize: 16px;
$price-lheight: 1;
$title-lheight: 1.3;
$product-bgcolor:rgba(60, 60, 60, 0.7);
$product-fcolor:#f1ecec;
$title-fsize: 24px;
