.breadcrumb-navigation {
    padding-left: 15px;
    margin-top: 100px;
    margin-bottom: 20px;

    ul {
        display: flex;
        font-size: 14px;
        padding: .75rem 1rem;
        list-style: none;

        li {
            font-family: $font-stack;
            text-decoration: none;
            text-transform: uppercase;
            padding-left: .5rem;

            &::before {
                content: '>';
                padding: 15px;
            }
        }

        .home-link {
            &::before {
                content: '';
            }
        }
    }
}