.breadcrumb-navigation {


    ul {
        display: flex;
        font-size: 14px;
        list-style: none;

        li {
            font-family: $font-stack;
            text-decoration: none;
            text-transform: uppercase;
            padding-left: .5rem;

            &::before {
                content: '>';
                padding: 1px;
            }
        }

        .home-link {
            &::before {
                content: none;
            }
        }
    }
}