.footer {
  background-color: $footer-background;
  color: $moramia-white;
  display: block;
  overflow: hidden;
  padding: 5em 0;
  position: relative;
  transition: all 0.4s ease;

  @media screen and (min-width: $breakpoint-tablet) {
    height: 100%;
    padding: 1em;
    transition: all 0.4s ease;
  }

  .footer-wrapper {
    display: block;
    font-family: $font-stack;
    height: 100%;
    margin: 0 auto;
    padding: 3em;

    @media screen and (min-width: $breakpoint-tablet) {
      align-items: center;
      display: flex;
      max-width: $max-width-footer;
      transition: all 0.4s ease;
    }
  }

  .footer-cr {
    color: $cp-color;
    font-size: 0.8em;
    margin: 1.5em 0;
    padding: 0.7em 0;
  }

  .footer-wrapper-left,
  .footer-wrapper-right {
    margin: auto;
    max-width: 550px;
  }

  .footer-wrapper-right {
    @media screen and (min-width: $breakpoint-tablet) {
      flex: 1;
      margin-left: 1em;
      width: auto;
    }
  }

  .footer-wrapper-menu {
    max-height: 0;
    opacity: 1;
    overflow: hidden;
    position: relative;
    top: 40px;
    transition: all 0.8s ease;
    visibility: hidden;
    width: 100%;

    @media screen and (min-width: $breakpoint-tablet) {
      height: 100%;
      max-height: 500px;
      opacity: 1;
      transition: all 0.4s ease;
      visibility: visible;
    }
  }

  .footer-hamburger {
    align-items: center;
    background-color: $moramia-blue;
    box-sizing: border-box;
    display: flex;
    height: 30px;
    padding: 0.75rem;
    position: absolute;
    width: 35px;
    z-index: 1;

    @media screen and (min-width: $breakpoint-tablet) {
      height: 0;
      opacity: 0;
      transition: all 0.4s ease;
      visibility: hidden;
      display: none;
    }
  }

  .footer-center-line {
    align-items: center;
    background-color: $moramia-white;
    display: flex;
    height: 1.7px;
    justify-content: center;
    position: relative;
    transition: all 0.4s ease;
    width: 100%;

    &:before,
    &:after {
      background: $moramia-white;
      content: "";
      height: 1.7px;
      position: absolute;
      top: -4px;
      width: 100%;
      z-index: 1;
    }

    &:after {
      top: 4px;
    }
  }

  .footer-toggler {
    cursor: pointer;
    height: 30px;
    position: absolute;
    opacity: 0;
    width: 30px;
    z-index: 2;

    @media screen and (min-width: $breakpoint-tablet) {
      cursor: none;
      height: 0;
      opacity: 0;
      position: absolute;
      transition: all 0.4s ease;
      width: 0;
      z-index: 2;
    }

    &:checked {

      ~.footer-wrapper-menu {
        height: 100%;
        max-height: 500px;
        opacity: 1;
        transition: all 1s ease;
        visibility: visible;
      }

      +.footer-hamburger .footer-center-line {
        transform: rotate(135deg);
      }

      +.footer-hamburger .footer-center-line:before,
      +.footer-hamburger .footer-center-line:after {
        top: 0;
        transform: rotate(95deg);
      }

      &:hover {
        +.footer-hamburger .footer-center-line {
          transform: rotate(225deg);
        }
      }
    }
  }

  .footer-wrapper-ulist {
    padding: 0;

    @media screen and (min-width: $breakpoint-tablet) {
      display: flex;
      flex-grow: 1;
    }

    .footer-wrapper-list {
      margin: 2em 0;
      list-style: none;
    }

    .footer-a {
      font-size: 14px;
      line-height: 0.9;
      text-transform: uppercase;
      text-decoration: none;
      transition: all 0.4s ease;
      padding: 2em 0;

      @media screen and (min-width: $breakpoint-tablet) {
        padding: 3em;
      }

      &:hover {
        color: $moramia-blue;
        transition: all 0.4s ease;
      }

      &:focus {
        border: solid 2px $moramia-blue;
      }
    }

    .footer-a {
      color: $moramia-white;
    }

    .active {
      color: $moramia-blue;
    }
  }
}