$close-icon: '\f00d';
$star-icon: '\f005';
$circle-icon: '\f111';
$mor-icons: (
    pinterest: '\f0d2',
    instagram: '\f16d',
    facebook: '\f09a',
    twitter: '\f099'
);

.fa {
    font: normal normal normal 18px/1 fontAwesome;
    
    @each $social, $icon in $mor-icons {
      &.fa-#{$social}::before {
        content: $icon;
      }
  }
}

@media screen and (max-width: #{$breakpoint-tablet - 1}) and (min-width: $breakpoint-mobile){
  .fa-close:before {
    content: $close-icon;
  }
}

.faz {
  font: normal normal normal 18px/1 fontAwesome;
}

.fa-star:before {
  content: $star-icon;
}

.fas {
  font: normal normal normal 14px/1 fontAwesome;
}

.fa-circle:before {
  content: $circle-icon;
}

.far {
  font: normal normal normal 18px/1 fontAwesome;
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-up:before {
  content: "\f0d8";
}