@import './fonts.scss';
@import './variables.scss';
@import './homepage.scss';
@import './footer.scss';
@import './gallery.scss';
@import './header.scss';
@import './icons.scss';
@import '/breadcrumb.scss';
@import '/product-card.scss';

body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    margin: 0;
    padding: 0; 
}