@import './fonts.scss';
@import './variables.scss';
@import './homepage.scss';
@import './footer.scss';
@import './gallery.scss';
@import './header.scss';
@import './icons.scss';
@import "./error.scss";
@import './breadcrumb.scss';


body {
    margin: 0;
    padding: 0;
}

.main-container {
    display: flex;
    margin: 0;
    padding: 0; 
}