$footer-background: #252525;
$moramia-blue: #0dc6f2;
$cp-color: rgba(255, 255, 255, 0.4);
$moramia-white: #fff;
$font-stack: "fontHelvetica", sans-serif;
$max-width-footer: 1700px;
$breakpoint-desktop: 1024px;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$content-bgcolor:rgba(0, 0, 0, .4);
$line-bgcolor:#0dc6f2;
$price-fsize: 16px;
$price-lheight: 1;
$product-bgcolor:rgba(60, 60, 60, .7);
$product-fcolor:#f1ecec;
$title-fsize: 24px;
$title-lheight: 1.3;
