<nav class="breadcrumb-navigation">
    <ul>
        <li class="home-link breadcrumb-link">
            <a class="breadcrumb-ref" href="/">home</a>
        </li>
        <li class="breadcrumb-link">
            <a class="breadcrumb-ref" href="">product</a>
        </li>
        <li class="breadcrumb-link">
            <a class="product-name-link breadcrumb-ref"><%= product.product_name %></a>
        </li>
    </ul>
</nav>