<nav class="breadcrumb-navigation">
    <ul>
        <li class="home-link" >
            <a href="../">home</a>
        </li>
        <li>
            <a href="">product</a>
        </li>
        <li>
            <a class="product-name-link"><%= product.product_name %></a>
        </li>
    </ul>
</nav>