<main class="products-wrapper">
  <%products.forEach( function( prd ){ %>
  <article class="product">
    <figure class="figure">
      <img src=<%= prd.product_image %> alt=<%= prd.product_name %> >
      <figcaption class="product-content">
        <p class="product-price">From $<%= prd.product_price%></p>
        <h4 class="product-title"><%= prd.product_name %></h4>
      </figcaption>
    </figure>
  </article>
  <% }) %>
</main>
