<section class="error-section">
    <div class="notfound">
        <div class="notfound-404">
            <h1 class="notfound-h1"><%= error %></h1>
        </div>
        <h2 class="notfound-h2">Oops! Nothing was found</h2>
        <p class="notfound-p">
            The page you are looking for might have been removed,
            had its name changed or is
            temporarily unavailable. <a class="notfound-return" href="/">Return to homepage</a>
        </p>
        <%- include('../partials/socialLinks') %>
    </div>
</section>