<footer class="footer">
    <div class="footer-wrapper">
        <div class="footer-wrapper-left">
            <img src="./img/moramia-logo.png" alt="moramia-logo" class="footer-img" />
            <p class="footer-cr">
                Copyright ©2020 All rights reserved | This template is made with &#9829; by PushDev & Re-distributed
                by Moramia
            </p>
        </div>
        <div class="footer-wrapper-right">
            <input type="checkbox" class="footer-toggler">
            <div class="footer-hamburger">
                <span class="footer-center-line" role="presentation"></span>
            </div>
            <nav class="footer-wrapper-menu">
                <ul class="footer-wrapper-ulist">
                    <li class="footer-wrapper-list"><a class="footer-a active" href="#0">HOME</a></li>
                    <li class="footer-wrapper-list"><a class="footer-a" href="#2">SHOP</a></li>
                    <li class="footer-wrapper-list"><a class="footer-a" href="#3">CART</a></li>
                    <li class="footer-wrapper-list"><a class="footer-a" href=" #4">CHECKOUT</a></li>
                </ul>
            </nav>
        </div>
    </div>
</footer>