<section class="gallery-wrapper">
    <ul class="slider">
        <% for (let index = 1; index <= 4; index++) { %> 
            <li class="item-slide">
                <img class="gallery-highlight" src=<%= product.product_gallery ['image' + index] %> alt="main image">
            </li>
        <% } %>
    </ul>
    <div class="gallery-wrapper-miniture">
        <% for (let index = 1; index <= 4; index++) { %> 
            <img id=<%='gallery-img-' + [index - 1] %> tabindex="0" class="gallery-img" src=<%= product.product_gallery['image' + index] %> alt="product image <%= index %>" />
        <% } %>
    </div>
</section>