<header>
    <div class="mor-menu-container">
        <a href="/" title="Moramia" class="logo-anchor">
            <img src="/img/logo.png" alt="image" class="mor-logo">
        </a>
        <div class="burger-menu">
            <span class="line-burger-menu"></span>
            <span class="line-burger-menu"></span>
            <span class="line-burger-menu"></span>
        </div>
    </div>
    <div class="mor-links-container close">
        <div class="button-close">
            <i class="fa fa-close"></i>
        </div>
        <a href="/" title="Moramia" class="logo-anchor">
            <img src="/img/logo.png" alt="image" class="mor-logo">
        </a>
        <nav>
            <ul class="pages-navigability">
                <li class="mor-header-list active">
                    <a class="link" href="/">home</a>
                </li>
                <li class="mor-header-list">
                    <a class="link" href="#">shop</a>
                </li>
                <li class="mor-header-list">
                    <a class="link" href="#">cart</a>
                </li>
                <li class="mor-header-list">
                    <a class="link" href="#">checkout</a>
                </li>
            </ul>
        </nav>
        <nav>
            <%- include('../partials/socialLinks') %>
        </nav>
    </div>
</header>