<!-- views/partials/header.ejs -->

<header class="mor-header">
    <h1>Header</h1>
    <nav>
        <ul>
            <li><a href="">Home</a></li>
            <li><a href="">Products</a></li>
            <p class="mor-header__paragraph">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde doloremque, iste dolor amet assumenda distinctio, saepe aut enim placeat dolorum magnam qui impedit cumque beatae facere numquam ullam aperiam error?</p>
        </ul>
    </nav>
</header>