<ul class="social">
    <li> <a href="#"> <i class="fa fa-pinterest"></i> </a> </li>
    <li> <a href="#"> <i class="fa fa-instagram"></i> </a> </li>
    <li> <a href="#"> <i class="fa fa-facebook"></i> </a> </li>
    <li> <a href="#"> <i class="fa fa-twitter"></i> </a> </li>
</ul>